<div id="{{id}}-content" class="uiElement uiBackground"></div>
<div id="{{id}}-input" class="uiElement uiBackground uiBorder uiShadowUp">
    <input type="{{id}}-text" id="inputTextBox" placeholder="Type your input here.">
</div>