<div class="nodeLabelValue">
    <div class="nodeLabel">style</div>
    <select class="nodeValue" data-property="style">
        {{#select style}}
        {{#each _styles}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">quality</div>
    <select class="nodeValue" data-property="quality">
        {{#select quality}}
        {{#each _qualities}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>