<div class="nodeLabelValue">
    <a class="nodeLabel nodePreInput">pre</a>
    <input class="nodeValue" type="text"  data-property="pre" value="{{pre}}" />
</div>
<div class="nodeLabelValue">
    <a class="nodeLabel nodePostInput">post</a>
    <input class="nodeValue" type="text"  data-property="post" value="{{post}}" />
</div>