<div class="nodeLabelValue">
    <div class="nodeLabel">pre</div>
    <input class="nodeValue" type="text"  data-property="pre" value="{{pre}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">post</div>
    <input class="nodeValue" type="text"  data-property="post" value="{{post}}" />
</div>