<div id="{{id}}" class="toolbar">
    <div class="handle uiGlow">
        <span class="expand">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </span>
        <span class="collapse">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
        </span>
    </div>
    <div class="toolsContainer uiGlow">
        <span class="title">Toolbar</span><br/>
    </div>
</div>