<div class="answers-shown">
    <div class="question-only">
        <div class="question radius-large margin-medium font-large">
            <div class="centered">question</div>
        </div>
    </div>
    <div class="question-answers">
        <div class="question radius-large margin-medium font-large">
            <div class="centered">question</div>
        </div>
        <div class="answers">
            <div class="answer-row">
                <button class="answer answer-1 border-small margin-tiny font-large">
                    1
                </button><button class="answer answer-2 border-small margin-tiny font-large">
                    2
                </button>
            </div>
            <div class="answer-row">
                <button class="answer answer-3 border-small margin-tiny font-large">
                    3
                </button><button class="answer answer-4 border-small margin-tiny font-large">
                    4
                </button>
            </div>
        </div>
    </div>
</div>