#gameOverContainer #panel {

    background-color: rgba(131, 190, 14, 1);
    width: 100%;
    height: 100%;
    text-align: center;
}

#gameOverContainer #panel #winner div {

    text-align: center;
}

#gameOverContainer #panel #winner {

    /*background-color: rgba(152, 218, 16, 1);*/
}

#gameOverContainer #panel #winner {

    width: 50%;
    height: 90%;
}

#gameOverContainer #panel.red #winner #winnerTitle {

    color: rgba(255, 0, 0, 1);
}

#gameOverContainer #panel.blue #winner #winnerTitle {

    color: rgba(0, 0, 255, 1);
}

#gameOverContainer #panel #winner #winnerCar {

    margin-top: 8px;
    width: 60%;
    height: 80%;
}