<div id="panel" class="centered padding-large radius-none">
    <div id="winner" class="margin-medium padding-medium radius-medium">
        <div id="winnerTitle" class="center font-medium">{{strings.Winner}}</div><br />
        <div id="winnerCar"></div><br />
    </div>
</div>