<div id="race">
    <canvas id="track"></canvas>
    <div id="leftScore" class="margin-small padding-small font-small radius-max"></div>
    <div id="rightScore" class="margin-small padding-small font-small radius-max"></div>
</div>
<div id="controllers" class="padding-tiny"><div id="left"></div><div id="right"></div></div>