<div id="panel" class="centered padding-large radius-none">
    <div id="winner" class="margin-medium padding-medium radius-medium">
        <div id="winnerTitle" class="center font-medium">{{strings.Winner}} <div id="winnerScore" class="center padding-small border-small radius-medium"></div> {{strings.Points}}</div><br />
        <div id="winnerCar"></div><br />
    </div><br />
    <div id="loser" class="margin-medium padding-medium radius-medium">
        <div id="loserTitle" class="center font-small">{{strings.Loser}} <div id="loserScore" class="center padding-small border-small radius-medium"></div> {{strings.Points}}</div><br />
        <div id="loserCar"></div><br />
    </div>
</div>