<div id="race">
    <canvas id="track"></canvas>
</div>
<div id="controllers" class="padding-tiny"><div id="left"></div><div id="scores" class="margin-none"><div class="label">{{strings.Scores}}</div><div id="leftScore" class="margin-small padding-small font-medium radius-max border-medium"></div><div id="rightScore" class="margin-small padding-small font-medium radius-max border-medium"></div><div class="label">{{strings.Speed}}</div><div id="speedLabel" class="margin-small padding-small font-large radius-max"></div></div><div id="right"></div></div>