#gameContainer {

    /*background-color: rgba(128, 192, 0, 1);*/
}

#gameContainer #leftScore, #gameContainer #rightScore {

    position: fixed;
    bottom: 0;
    z-index: 20000;
    background-color: rgba(255, 255, 255, 0.5);
}

#gameContainer #leftScore {

    left: 0;
    color: rgba(255, 0, 0, 1);
}

#gameContainer #rightScore {

    right: 0;
    color: rgba(0, 0, 255, 1);
}

#gameContainer #race {

    display: block;
    height: 30%;
}

#gameContainer #race #track {

    position: absolute;
}

#gameContainer #controllers {
    
    display: block;
    height: 70%;
    overflow: hidden;
}

#gameContainer #controllers #left {
    
    width: 50%;
    height: calc(100% - 32px); /* fix due to margin-medium which adds 2x 16px*/
    vertical-align: top;
}

#gameContainer #controllers #right {
    
    width: 50%;
    height: calc(100% - 32px); /* fix due to margin-medium which adds 2x 16px*/
    vertical-align: top;
}