<div id="menu" class="centered padding-large border-small radius-medium">
    <button id="startAddButton" class="font-medium margin-medium padding-medium border-medium radius-medium">{{strings.StartAddButton}}</button>
    <button id="startMultiplyButton" class="font-medium margin-medium padding-medium border-medium radius-medium">{{strings.StartMultiplyButton}}</button>
    <button id="startFixedButton" class="font-small margin-medium padding-medium border-medium radius-medium">{{strings.StartFixedButton}}</button>
    <button id="gameOverButton" class="font-small margin-medium padding-medium border-medium radius-medium">{{strings.GameOver}}</button>
</div>