<div id="header">
    <div id="mainMenu">
        Njuškalo!
    </div>
</div>
<div id="content">

    <div class="label">Likovi:</div>
    <div class="card">
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
    </div>

    <div class="label">Predmeti:</div>
    <div class="card">
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
    </div>

    <div class="label">Lokacije:</div>
    <div class="card">
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
    </div>
</div>