<div id="header">
    <div id="mainMenu">
        Njuškalo!
    </div>
</div>
<div id="content">
    <div class="heading row"><div class="tripple cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Fredi Mrki</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Kurt Kobaja</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Dolores O'Jorgan</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Dženis Džin</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Amy Doghouse</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Dejvid Buvi</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="heading row"><div class="tripple cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Cigare</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Mikrofon</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Vizitka</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Rakija</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Novčanik</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Mačka</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="heading row"><div class="tripple cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Toalet</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Restoran</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Skejt Park</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Pečurke</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Spomenik</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Igralište</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Kontejner</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Klupa</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
    <div class="row"><div class="tripple cell">Fontana</div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div><div class="cell"></div></div>
</div>