<style id="columnStyle" type="text/css">
</style>

<div id="content">
    <div id="header" class="font-strong font-medium">
        Njuškalo: Beležnica
    </div>

    <dialog id="playerNameDialog" class="mdl-dialog">
        <h4 class="mdl-dialog__title">Preimenuj</h4>
        <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="playerNameTextBox" maxlength="5">
                <label class="mdl-textfield__label" for="playerNameTextBox">Text...</label>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button rename">OK</button>
            <button type="button" class="mdl-button close">Otkaži</button>
        </div>
    </dialog>

    <div class="section">
        <div id="headerRow" class="row">
            <div class="double cell"></div>
            <div class="header cell fred font-large">fred</div>
            <div class="header cell kurt font-large">kurt</div>
            <div class="header cell dolores font-large">dol</div>
            <div class="header cell dejvid font-large">dejv</div>
            <div class="header cell ejmi font-large">ejmi</div>
            <div class="header cell dzenis font-large">džen</div>
        </div>
    </div>

    <!--<div class="label">Sumnjive njuške</div>-->
    <div class="section">
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
    </div>

    <!--<div class="label">Sumnjivo "izgubljen" predmet</div>-->
    <div class="section">
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
    </div>

    <!--<div class="label">Sumnjivo prekopano mesto</div>-->
    <div class="section">
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
    </div>
</div>