<div id="header">
    <div id="mainMenu">
        Njuškalo!
    </div>
</div>
<div id="content">

    <div class="label">Likovi:</div>
    <div class="card">
        <div class="row"><div class="double cell">Fredi Mrki</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Kurt Kobaja</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Dolores O'Jorgan</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Dženis Džin</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Amy Doghouse</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Dejvid Buvi</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
    </div>

    <div class="label">Predmeti:</div>
    <div class="card">
        <div class="row"><div class="double cell">Cigare</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Mikrofon</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Vizitka</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Rakija</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Novčanik</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Mačka</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
    </div>

    <div class="label">Lokacije:</div>
    <div class="card">
        <div class="row"><div class="double cell">Toalet</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Restoran</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Skejt Park</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Pečurke</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Spomenik</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Igralište</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Kontejner</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Klupa</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
        <div class="row"><div class="double cell">Fontana</div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div><div class="clickable cell"></div></div>
    </div>
</div>