<style id="columnStyle" type="text/css">
</style>

<div id="content">
    <div id="header">
        Njuškalo: Beležnica
    </div>
    <div class="label">Sumnjive njuške</div>
    <div class="section">
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
    </div>

    <div class="label">Sumnjivo "izgubljen" predmet</div>
    <div class="section">
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
    </div>

    <div class="label">Sumnjivo prekopano mesto</div>
    <div class="section">
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
        <div class="row"><div class="double cell"></div><div class="clickable cell fred"></div><div class="clickable cell kurt"></div><div class="clickable cell dolores"></div><div class="clickable cell dejvid"></div><div class="clickable cell ejmi"></div><div class="clickable cell dzenis"></div></div>
    </div>
</div>