<div id="content">
    <div id="header">
        Njuškalo: Uputstvo za igru
    </div>
    <div class="section">
    <p>Šest predmeta je danas izgubljeno u parku, ali je samo jedan negde namerno zakopan!</p>
    <p>Osumnjičeni su psi koji su bili u parku u vreme nestajanja stvari. Oni su: Fredi Mrki (rozi), Kurt Kobaja (zeleni), Dolores O’Jorgan (crvena), Dejvid Buvi (plavi),  Ejmi Doghouse (ljubičasta) i Dženis Džin (žuta).</p>
    <p>Predmeti su: cigare, mikrofon, mrtva mačka (dobro, nije baš predmet ali je logično da je zakopana od strane psa), novčanik, rakija i naravno - vizit karta veterinara.</p>

    <h1>Postavka igre</h1>
    <p>Na početku igre po jednu karticu osumnjičenog, predmeta i mesta stavite u omotač, tako da ih niko od igrača ne vidi.</p>
    <p>Da bi ste rešili misteriju morate onjušiti: Ko je zakopao, šta je zakopao i gde je zakopao.</p>
    <p>(tri kartice u omotaču su rešenja).</p>
    <p>Podelićete ostatak kartica tako da svaki igrač dobije jednak broj kartica, ako je moguće (saigračima nemojte pokazivati svoje kartice!).</p>
    <p>Kada pogledate svoje kartice, u beležnicu “Njuškalo” zabeležite ono što ste dobili.</p>

    <h1>Kako rešiti misteriju?</h1>
    <p>U toku vašeg poteza, bacate dve kockice i te brojke određuju koliko polja možete da se pomerite. Pomerate se i birate u koji deo parka želite da dođete...</p>
    <p>Kada se nađete na lokaciji, pozvaćete jednog od osumnjičenih pasa i sumnjaćete na jedan predmet. Igrač sa vaše desne strane mora vam pokazati karticu sa predmetom (na koji ste sumnjali), mestom (na kome se nalazite) ili psom. Bira samo JEDNU karticu iz ruke i pokazuje je vama bez da je bilo ko drugi vidi! Ako igrač sa vaše desne strane nema ni jednu od te tri kartice, kaže da nema i tada igrač sa njegove desne strane pokazuje JEDNU karticu (ako je on ima). Ako ni on nema, sledeći igrač sa desne strane pokazuje karticu, i tako dalje. U slučaju da prođe ceo krug a da niko nema ni jednu karticu, vi samo zabeležite sve to u beležnicu... Može biti vrlo korisno, pošto ako ni vi nemate ni jednu od kartica - čestitamo, nanjušili ste rešenje!</p>
    <p>Može se dogoditi da u ovom slučaju vam od tri kartice fali samo jedna, onda zasigurno znate da je ona u omotaču.</p>
    <p>Postupkom eliminacije ćete stići do rešenja misterije! </p>
    <p>Figurice koje nisu u igri takođe se računaju npr. igraju tri osobe: jedna je ljubičasta, druga plava i treća recimo žuta. Ako bilo ko od njih želi da na svom potezu sumnja na recimo rozog, naravno da može, pošto postoje kartice svakog osumnjičenog, igrao on ili ne.</p>
    <p>Tvoj potez se završava čim ti bilo ko od saigrača pokaže jednu karticu ili se prođe ceo krug. Tada igra igrač sa tvoje desne strane, i tako u krug dok neko ne onjuši rešenje.</p>

    <h1>Kraj igre</h1>
    <p>Kada misliš da imaš pravi odgovor, kažeš na koga, na šta i na koje mesto sumnjaš. Vadiš tri kartice iz omotača tako da ih samo ti vidiš. Ako si sve pogodio, čestitamo - pobeđuješ; pokazuješ kartice iz omotača igračima kao dokaz. Ako nisi, samo ih vratiš u omotač i nastavljaš da igraš - ali kada jednom pogrešiš, više ne možeš da pobediš, samo ćutke nastavljaš da igraš.</p>

</div>