<div id="content">
    <div id="header">
        Njuškalo: Uputstvo za igru
    </div>
    <div class="heading">Cluedo - prepričana pravila</div>
    <div class="section">
        <p>
        Igra je jedna od boljih kombinatornih glavolomki i rado je igram. Pravila su relativno jednostavna i pokusacu da ih poredjam po stavkama: 
        </p>
        <p>U kuci se desilo ubistvo - ubijen je gospodin X. Karticama su predstavljene sledece stvari: </p>
        <ul>
        <li>u kuci je 6ro ljudi - Green, Blue, Black, Yellow, Red i White (prezimena) 
        <li>postoji 9 prostorija u kuci 
        <li>postoji 6 mogucih oruzja kojim je izvrseno ubistvo 
        </ul>
        <p>Igru igra najmanje 3 igraca, ali je interesantnije igrati sto je igraca vise (max 6). Na pocetku se iz spila od ovih 22 karte izvuce jedna osoba, jedno oruzje i jedna prostorija tako da niko od igraca ne vidi koje su karte u pitanju i te 3 karte se odloze se na stranu. To su pravi ubica, pravo oruzje i prava prostorija u kojoj se ubistvo desilo. Ostale karte se izmesaju i podele igracima (nevezano za to koji je tip karte u pitanju), opet tako da nijedan igrac ne vidi sta su drugi dobili.</p>
        <p>Svako od igraca vodi po jednog 'piona' po tabli sa ciljem da udje u neku prostoriju. Kretanje se vrsi po poljima bacanjem 6-strane kockice. </p>
        <p>Kad igrac udje u neku prostoriju ima pravo da postavi pitanje tipa: "Da li je u ovoj prostoriji osoba ta-i-ta izvrsila ubistvo tim-i-tim oruzjem?" Ostali igraci pogledaju svoje kartice i oni koji imaju bilo koju kartu od onih koje su navedene u pitanju popkazuje je igracu koji je postavio pitanje tako da ostali igraci ne znaju sta je pokazano. Ako neki igrac ima vise od jedne kartice koja je pomenuta u pitanju, ima pravo da pokaze samo jednu. Igrac ne sme da ne pokaze karticu ako poseduje neku koja bude pomenuta u pitanju. Isto tako igrac ima pravo da postavi pitanje i ako on sam ima neku od tih kartica i ima pravo da taj podatak sacuva za sebe. </p>
        <p>Igrac moze da postavi samo jedno pitanje u toku jednog poteza, moze da postavlja pitanje samo u nekoj prostoriji i to samo vezano za tu prostoriju u kojoj se nalazi. Da bi u istoj prostoriji postavio 2 pitanja mora iz te prostorije da izadje i da se u nju ponovo vrati. Osim kretanja izmedju prostorija po poljima, iz prostorija koje se nalaze u uglovima table moze se tajnim prolazom preci u prostoriju koja se nalazi u uglu dijagonalno od polazne prostorije. Za taj prolaz nije potrebno bacanje kockice. </p>
        <p>Igraci vode svoju (od ostalih igraca skrivenu) evidenciju o tome koje su im kartice pokazane i pokusavaju na osnovu pitanja ostalih igraca i 'odgovora' na njih (tj. toga da li je ili nije neko pokazao kartu) proniknu u to ko je ubica, u kojoj prostoriji je izvrseno ubistvo i kojim oruzjem. Ako neko misli da je nasao pravu kombinaciju, ima pravo da kaze: "Iznosim pretpostavku" i da kaze svoje misljenje. Tada ima pravo da pogleda one tri izdvojene karte i ako je u pravu za sve tri - taj igrac je pobednik. Ako je promasio bar jednu kartu - vraca ih nazad ne pokazujuci ih ostalim igracima i ispada iz dalje igre. </p>
        <p>Nadam se da sam dovoljno dobro objasnio. Ako te nesto interesuje pitaj slobodno, verovatno sam nesto i zaboravio.</p>
</div>