<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
        </staticContent>
    </system.webServer>
    <location path="kB.SmartDie.appcache">
        <system.webServer>
            <staticContent>
		<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            </staticContent>
	</system.webServer>
    </location>
</configuration>
