.uiAgentNode {

    position: fixed;
    width: calc(var(--appZoom) * 30);
    opacity: 0.85;
    border-radius: calc(var(--appZoom) * var(--appPadding));
    overflow: hidden;
    cursor: default;
    padding:
        0
        0
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        0;
}

.uiAgentNode .nodeTitle {

    width: calc(var(--appZoom) * 30 - (2 * var(--appZoom) * var(--appPadding)));
    padding:
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding))
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding));
    cursor: pointer;
    user-select: none;
    background-color: var(--appColorConsoleBackground);
    color: var(--appColorConsoleFont);
    font-weight: bold;
}

.uiAgentNode .nodeLabelValue {

    display: flex;
    width: calc(var(--appZoom) * 30 - (2 * var(--appZoom) * var(--appPadding)));
    padding: 0px;
    margin:
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding))
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding));
}

.uiAgentNode .nodeLabel, .uiAgentNode .nodeValue, .uiAgentNode .nodeTitle {

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.uiAgentNode .nodeLabel {

    width: calc(var(--appZoom) * 5 - (var(--appZoom) * var(--appPadding)));
}

.uiAgentNode .nodeValue {

    width: calc(var(--appZoom) * 25 - (2 * var(--appZoom) * var(--appPadding)));
    padding:
        0
        0
        0
        calc(var(--appZoom) * var(--appPadding));
    border: none;
    background-color: var(--appColorUiBackground);
    box-sizing: content-box;
}

.uiAgentNode .nodeValue:focus {

    outline: none;
    background-color: var(--appColorUiInputBackground);
}

.uiAgentNode select {

    cursor: pointer;
}