.uiNode {

    position: fixed;
    width: calc(var(--appZoom) * 30);
    border-radius: var(--appBorderRadius);
    overflow: hidden;
    cursor: default;
    padding:
        0
        0
        calc(var(--appPadding) * 0.5)
        0;
    color: var(--appColorLight);
    background-color: none;
}

.uiNode .nodeLabelValue option {

    color: var(--appColorSecondary);
    background-color: var(--appColorLighter);
}    

.uiNode .nodeLabelValue option:checked {

    color: var(--appColorAccent2);
}

.uiNode {

    background-color: var(--appColorPrimaryTransparent);
    backdrop-filter: blur(3px);
}

.uiNode:has(input:focus), .uiNode:has(select:focus) {

    background-color: var(--appColorLighterTransparent);
}

.uiNode .nodeValue:focus {

    outline: none;
    color: var(--appColorAccent2);
}

.uiNode .nodeTitle {

    width: calc(var(--appZoom) * 30 - (2 * var(--appPadding)));
    padding:
        calc(var(--appPadding) * 0.5)
        var(--appPadding)
        calc(var(--appPadding) * 0.5)
        var(--appPadding);
    cursor: pointer;
    user-select: none;
    background-color: var(--appColorSecondary);
    color: var(--appColorPrimary);
    font-weight: bold;
}

.uiNode .nodeLabelValue {

    display: flex;
    width: calc(var(--appZoom) * 30 - (2 * var(--appZoom) * var(--appPadding)));
    padding: 0px;
    margin:
        calc(var(--appPadding) * 0.5)
        var(--appPadding)
        calc(var(--appPadding) * 0.5)
        var(--appPadding);
}

.uiNode .nodeLabel, .uiNode .nodeValue, .uiNode .nodeTitle {

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.uiNode .nodeLabel {

    width: calc(var(--appZoom) * 5 - var(--appPadding));
}

.uiNode .nodeValue {

    background-color: inherit;
    width: calc(var(--appZoom) * 25 - (2 * var(--appPadding)));
    padding:
        0
        0
        0
        var(--appPadding);
    border: none;
    color: var(--appColorSecondary);
    box-sizing: content-box;
}

.uiNode select {

    cursor: pointer;
}