.uiAgentNode {

    position: fixed;
    width: calc(var(--appZoom) * 30);
    border-radius: calc(var(--appZoom) * var(--appPadding) * 0.5);
    overflow: hidden;
    cursor: default;
    padding:
        0
        0
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        0;
    color: var(--appColorLight);
    background-color: none;
}

.uiAgentNode .nodeLabelValue option {

    color: var(--appColorSecondary);
    background-color: var(--appColorLighter);
}    

.uiAgentNode .nodeLabelValue option:checked {

    color: var(--appColorAccent2);
}

.uiAgentNode {

    background-color: var(--appColorPrimaryTransparent);
    backdrop-filter: blur(3px);
}

.uiAgentNode:has(input:focus), .uiAgentNode:has(select:focus) {

    background-color: var(--appColorLighterTransparent);
}

.uiAgentNode .nodeValue:focus {

    outline: none;
    color: var(--appColorAccent2);
}

.uiAgentNode .nodeTitle {

    width: calc(var(--appZoom) * 30 - (2 * var(--appZoom) * var(--appPadding)));
    padding:
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding))
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding));
    cursor: pointer;
    user-select: none;
    background-color: var(--appColorSecondary);
    color: var(--appColorPrimary);
    font-weight: bold;
}

.uiAgentNode .nodeLabelValue {

    display: flex;
    width: calc(var(--appZoom) * 30 - (2 * var(--appZoom) * var(--appPadding)));
    padding: 0px;
    margin:
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding))
        calc(var(--appZoom) * var(--appPadding) * 0.5)
        calc(var(--appZoom) * var(--appPadding));
}

.uiAgentNode .nodeLabel, .uiAgentNode .nodeValue, .uiAgentNode .nodeTitle {

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.uiAgentNode .nodeLabel {

    width: calc(var(--appZoom) * 5 - (var(--appZoom) * var(--appPadding)));
}

.uiAgentNode .nodeValue {

    background-color: inherit;
    width: calc(var(--appZoom) * 25 - (2 * var(--appZoom) * var(--appPadding)));
    padding:
        0
        0
        0
        calc(var(--appZoom) * var(--appPadding));
    border: none;
    color: var(--appColorSecondary);
    box-sizing: content-box;
}

.uiAgentNode select {

    cursor: pointer;
}