:root, input[type="text"], select {

    font-family: var(--appFontFamily);
    font-size: var(--appZoom);
    margin: 0px;
    padding: 0px;
}

body {

    background-color: var(--appColorBackground);
}