.console-outputText {

    padding: calc(var(--appZoom) * var(--appPadding) * 0.2);
}            

.console-content, .console-input, .console-input input {

    background-color: var(--appColorConsoleBackground);
    color: var(--appColorConsoleFont);
}

.console-content {

    padding: calc(var(--appZoom) * var(--appPadding));
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: calc(100dvh - (var(--appZoom) + var(--appZoom) * var(--appPadding) * 4));
    z-index: 1;
    overflow: auto;
}

.console-input {

    top: calc(100dvh - (var(--appZoom) + var(--appZoom) * var(--appPadding) * 2));
    left: 0vw;
    width: 100vw;
    height: calc(var(--appZoom) + var(--appZoom) * var(--appPadding) * 2);
    z-index: 10;
}

.console-input input {

    padding: calc(var(--appZoom) * var(--appPadding));
    border: none;
    width: 100%;
    height: var(--appZoom);
    position: relative;
    top: 0;
    left: 0;
}

.console-input input:focus {

    outline: none;
}