.console-outputText {

    padding: calc(var(--appZoom) * var(--appPadding) * 0.2);
}            

.console-content, .console-input, .console-input input {

    background-color: var(--appColorPrimary);
    color: var(--appColorLight);
}

.console-content {

    padding: calc(var(--appZoom) * var(--appPadding));
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: calc(100dvh - (var(--appZoom) + var(--appZoom) * var(--appPadding) * 4));
    z-index: 1;
    overflow: auto;
}

.console-content div::selection {

    color: var(--appColorPrimary);
    background-color: var(--appColorSecondary);;
}

.console-input {

    top: calc(100dvh - (var(--appZoom) + var(--appZoom) * var(--appPadding) * 2));
    left: 0vw;
    width: 100vw;
    height: calc(var(--appZoom) + var(--appZoom) * var(--appPadding) * 2);
    z-index: 10;
}

.console-input input::placeholder {

    color: var(--appColorSecondary);
}

.console-input:has(input:focus), .console-input:has(select:focus) {

    background-color: var(--appColorLighter);
}

.console-input input {

    background-color: inherit;
    color: var(--appColorAccent);
    padding: calc(var(--appZoom) * var(--appPadding));
    border: none;
    width: 100%;
    height: var(--appZoom);
    position: relative;
    top: 0;
    left: 0;
}

.console-input input:focus {

    outline: none;
    color: var(--appColorAccent2);
}