:root {

    --appColorPrimary: #E6E4CF;
    --appColorSecondary: #F2CC0C;
    --appColorAccent: #404D00;
    --appColorAccent2: #556600;
    
    --appColorDark: #000000;
    --appColorLight: #FCFAE3;
    --appColorUiGlow: #00000044;

    --appFontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --appZoom: 3vmin;
    --appPadding: 1;
}