:root {

    --appColorPrimary: #3D3D4D;
    --appColorSecondary: #F2CA79;
    --appColorAccent: #F2F23D;
    --appColorAccent2: #FAFA0C;

    --appColorPrimaryTransparent: #3D3D4Dcc;
    --appColorDark: #14141A;
    --appColorLighter: #515166;
    --appColorLighterTransparent: #515166cc;
    --appColorLight: #C2C2F2;
    --appColorUiGlow: #00000088;

    --appFontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --appZoom: 3vmin;
    --appPadding: 1;
}