.uiElement {

    position: fixed;
}

.uiBackground {

    background-color: var(--appColorPrimary);
}

select option:hover, select option:focus {

    background-color: var(--appColorAccent2);
    color: var(--appColorSecondary);
}

.uiGlow {

    box-shadow: 0 0 calc(var(--appZoom) * var(--appPadding)) var(--appColorUiGlow);    
}

.uiGlow:has(input:focus), .uiGlow:has(select:focus) {

    box-shadow: 0 0 calc(var(--appZoom) * var(--appPadding) * 2) var(--appColorUiGlow);
}